.my-table th { color: #666; }
.my-table th::selection {
    background: transparent;
}

.btn-sorter { 
    float: right;
    min-width: 0 !important; 
}

.btn-sorter .MuiButton-label{
    display: flex;
    flex-direction: column;
    height: 10px;
    width: 10px;
}

.half-transparent {
    opacity: 0.5;
}